<h2 class="account-header">Login</h2>

<div class="form">
  <%= form_tag "/login" do %>
    <div class="text-input">
      <%= label_tag :email %>
      <%= text_field :email, nil, placeholder: "Email" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, placeholder: "Password" %>
      <span class="separator"> </span>
    </div>

    <div class="button-center">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>
