<div id="bottom-border">
<h2 class="text-center">Login To Your Account</h2>
</div>

<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="login-form">
  <%= bootstrap_form_tag url: "/login" do %>
    <%= label_tag :email %>
    <%= text_field :email, nil, placeholder: "Email" %>

    <%= label_tag :password %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>

    <div class="center-me">
    <%= submit_tag "Login" %>
    </div>

  <% end %>
  </div>
<div class="col-md-3"></div>
