<h2 class="text-center">Create New Account</h2>

<div class="col-md-4"></div>
<div class="col-md-4" id: "shrink-me">
<%= bootstrap_form_for @user do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.email_field :email, placeholder: "Email" %>

  <%= f.text_field :username, placeholder: "Username" %>

  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.password_field :password_confirmation, placeholder: "Retype password" %>

  <%= f.text_field :first_name, placeholder: "First Name" %>

  <%= f.text_field :last_name, placeholder: "Last Name" %>

  <div class="center-me">
    <%= f.submit "Create Account", class: "btn btn-success" %>
  </div>

<% end %>
</div>
<div class="col-md-4"></div>
