<h2 class="text-center">New Piece</h2>

<div class="col-md-4"></div>
<div class="col-md-4" id: "shrink-me">

<%= bootstrap_form_for [@user, @piece] do |f| %>
  <%= f.text_field :composer_last, placeholder: "Composer's Last" %>

  <%= f.text_field :composer_first, placeholder: "Composer's First" %>

  <%= f.text_field :title, placeholder: "Title of Piece" %>

  <%= f.text_field :yt_link, placeholder: "YouTube URL" %>

  <div class="center-me">
    <%= f.submit "Edit Piece", class: "update-btn" %>
  </div>

  <% end %>

  </div>
  <div class="col-md-4"></div>
