<div class="text-center">
  <h1>Repertoire List</h1>
</div>

<div class="col-md-8 col-md-push-2">

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Title</th>
      <th> </th>
      <% if current_user == @user %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user.pieces.each do |piece| %>
    <tr>
      <td><%= piece.composer_last %></td>
      <td><%= piece.composer_first %></td>
      <td><%= piece.title %></td>
      <td>
        <%= link_to user_piece_path(@user, piece) do %>
        <button type="button" style="font-size:.5em;" class="btn btn-primary">View</button>
        <% end %>
      </td>
      <% if current_user == @user %>
      <td>
      <%= link_to edit_user_piece_path(@user, piece) do %>
        <i style="font-size:1.5em;" class="glyphicon glyphicon-cog"></i>
      <% end %>
      </td>
      <td class="delete-<%=piece.title%>">
        <%= link_to user_piece_path(@user, piece), method: :delete do %>
        <i style="font-size:1.5em;" class="glyphicon glyphicon-remove-sign"></i>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
  <div class="new-piece-button">
    <% if current_user == @user %>
    <%= button_to 'New Piece', new_user_piece_path(@user), method: :get, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
