<h2 class="text-center">New Piece</h2>

<div class="col-md-4"></div>
<div class="col-md-4" id: "shrink-me">

<%= bootstrap_form_for [@user, @piece] do |f| %>
  <%= f.text_field :composer_last, placeholder: "e.g. Ibert" %>

  <%= f.text_field :composer_first, placeholder: "e.g. Jacques" %>

  <%= f.text_field :title, placeholder: "e.g. Concertino da Camera" %>

  <%= f.text_field :yt_link, label: "Link (if video already exists on YouTube)", placeholder: "e.g. https://www.youtube.com/watch?v=H7iJIp_C32A" %>

  <div class="center-me">
    <%= f.submit "Add Piece", class: "update-btn" %>
  </div>

  <% end %>

  </div>
  <div class="col-md-4"></div>
