<h2 class="account-header">New Piece</h2>

<div class="form">

  <%= form_for [@user, @piece] do |f| %>
    <div class="text-input">
      <%= f.text_field :composer_last, placeholder: "Composer's Last" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= f.text_field :composer_first, placeholder: "Composer's First" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <%= f.text_field :title, placeholder: "Title of Piece" %>
      <span class="separator"> </span>
    </div>

    <div class="button-center">
      <%= f.submit "Add Piece", class: "update-btn" %>
    </div>

    <% end %>
</div>
