<p> <%= @presenter.piece.title %> </p>
<p> <%= @presenter.piece.composer_first %> <%= @presenter.piece.composer_last %> </p>

<div class="col-md-4"></div>

<div class="col-md-4">
<% if @presenter.piece.yt_link != "" %>

  <div class="youtube-player" data-id="<%=@presenter.piece.yt_uid%>"></div>

  <%= link_to "View Comments", youtube_comments_path(:id => @presenter.piece.yt_uid) %>

<% end %>

<!-- piece has no video added to it, user is on their own page, and they're oauthed -->
<% if authed_user_no_vid(@presenter) %>
  <%= link_to 'Upload Video', new_user_piece_youtube_upload_path(current_user.id, @presenter.piece.id) %>
<% end %>

<!-- if video exists, user is visiting their own page, and they're oauthed -->
<% if authed_user_vid(@presenter) %>
  <%= link_to 'Delete Video', youtube_deletes_path(:yt_id => @presenter.piece.yt_uid, :piece_id => @presenter.piece.id), :method=> :post %>
<% end %>

<!-- piece has no video added to it, user is on their own page, and they're NOT oauthed -->
<% if nonauthed_user_vid(@presenter) %>
  <p> Authorize your account with YouTube to upload video </p>
<% end %>

<!-- if there is a video present, user is logged in, and they ARE oauthed -->
<% if authed_user_other_vid(@presenter) %>
  <%= link_to 'Like Video', youtube_likes_path(:id => @presenter.piece.yt_uid, :vid_owner => @presenter.user.id, :piece => @presenter.piece.id), :method=> :post %>
  <%= link_to 'Dislike Video', youtube_dislikes_path(:id => @presenter.piece.yt_uid, :vid_owner => @presenter.user.id, :piece => @presenter.piece.id), :method=> :post %>
<% end %>

<!-- if there is a video present, user is logged in, and they're NOT oauthed -->
<% if nonauthed_user_other_vid(@presenter) %>
  <p> Authorize your account with YouTube to like or dislike video </p>
<% end %>

</div>

<div class="col-md-4"></div>
