<h2 class="text-center">New Performance</h2>
<br>
<div class="col-md-4, col-md-push-4">
<%= form_for [@user, @performance] do |f| %>

  <%= f.label "Title" %>
  <%= f.text_field :title, placeholder: "Title" %>

  <%= f.label "Date" %>
  <%= f.date_select :date %>

  <div class="center-me">
    <%= f.submit "Add Performance", class: "update-btn" %>
  </div>

<% end %>

</div>
<div class="col-md-3.5"></div>
