<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="navbar-form navbar-left">
        <%= form_tag(users_path, method: 'get') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <% if !YoutubeUser.exists?(user_id: current_user.id) %>
          <li><%= link_to 'YouTube Sync', '/auth/google_oauth2' %></li>
        <% end %>
          <li><%= link_to "Portfolio", user_dashboard_path(current_user) %></li>
          <li class="logout"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li class="login"><%= link_to "Log In", login_path %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
