<nav class="navbar navbar-light" style="background-color: #dddddd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="/" title="RepList">
        <img style="height:200%; margin-top: -10px;"
             src="/logo.png">
      </a>
    </div>

    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Find Users">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <% if params[:user_id] && User.find(params[:user_id]) == current_user && !YoutubeUser.exists?(user_id: current_user.id) %>
        <li><%= link_to 'Authorize YouTube', '/auth/google_oauth2' %></li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        <% if current_user %>
          <li><%= link_to "Directory", user_dashboard_path(current_user) %></li>
          <li role="separator" class="divider"></li>
          <li class="logout"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Log In", login_path %></li>
        </ul>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
